/* reset */

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

/* colors */
:root {
  --white: #fff;
  --violet-100: hsl(252 100% 93%);
  --violet-200: hsl(252 100% 83%);
  --violet-300: hsl(252 100% 73%);
  --violet-400: hsl(252 100% 63%);
  --violet-500: hsl(252 100% 53%);
  --violet-600: hsl(252 89% 43%);
  --violet-700: hsl(252 79% 33%);
  --violet-800: hsl(252 69% 23%);
  --violet-900: hsl(252 59% 13%);
  --neutral-100: hsl(252, 51%, 99%);
  --neutral-200: hsl(252, 41%, 97%);
  --neutral-300: hsl(252, 31%, 93%);
  --neutral-400: hsl(252, 21%, 83%);
  --neutral-500: hsl(252, 11%, 73%);
  --neutral-600: hsl(252, 1%, 63%);
  --neutral-700: hsl(252, 1%, 53%);
  --neutral-800: hsl(252, 1%, 43%);
}

/* general cleaning */

body {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--violet-100)
}

/* clock */
.clock {
  position: relative;
  width: 30rem;
  height: 30rem;
  padding: 2rem;
  border-radius: 50%;
  border: 20px solid transparent;
  background: linear-gradient(var(--violet-200), var(--violet-100)) padding-box,
      linear-gradient(120deg, var(--violet-100) 13%, var(--neutral-500) 84%) border-box;
  box-shadow: rgba(21, 14, 53, .01) 90px 91px 36px, rgba(21, 14, 53, .06) 58px 58px 33px, rgba(21, 14, 53, .20) 32px 33px 28px, rgba(21, 14, 53, .34) 14px 15px 21px, rgba(21, 14, 53, .40) 4px 4px 11px, var(--violet-900) 0px 0px 16px inset; 
  /*[color] [offset-x] [offset-y] [blur-radius] [spread-radius?] [inset?]*/
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
}

.hand {
  position: absolute;
  width: 4px;
  height: 50%;
  bottom: 50%;
  left: 50%;
  background: linear-gradient(var(--violet-300), var(--violet-500));
  box-shadow: rgba(34, 34, 35, 0.3) 20px 20px 24px;
  border-radius: 1rem;
  transform-origin: 50% 100%;
}

.hand.hour-hand {
  width: 1rem;
  height: 35%;
}

.hand.min-hand {
  width: 1rem;
  height: 50%;
}

.hand-face {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 45%;
  left: 45%;
  border: 1px solid transparent;
  background: linear-gradient(var(--violet-200), var(--violet-100)) padding-box,
      linear-gradient(120deg, var(--violet-100) 13%, var(--neutral-500) 84%) border-box;
  border-radius: 50%;
  z-index: 1;
}

.bar-seconds {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.bar-seconds span p {
  display: inline-block;
  width: 2px;
  height: 12px;
  background: linear-gradient(var(--violet-300), var(--violet-500));
  box-shadow: rgba(34, 34, 35, 0.3) 2px 2px 4px;
}

.bar-seconds span {
  position: absolute;
  transform: rotate(calc(var(--index) * 6deg));
  inset: -20px;
  text-align: center;
}

.bar-seconds span:nth-child(5n) p { 
  /* Every multiple of 5 */
  width: 8px;
  height: 32px;
  background: linear-gradient(var(--violet-100));
  box-shadow: rgba(34, 34, 35, 0.3) 4px 2px 8px;
  transform: translateY(-12px);
}

.shine {
  position: absolute;
  width: 230px;
  height: 230px;
  background: linear-gradient(123deg, rgba(226, 219, 255, .5) 0%, rgba(226, 219, 255, 1) 50%, rgba(136, 132, 153, 0) 100%);
  box-shadow: 0 0 10px var(--neutral-100);
  filter: blur(50px);
  mix-blend-mode: overlay;
  z-index: 2;
}