/* reset */

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

/* colors */
:root {
  --white: #fff;
  --violet-100: hsl(252 100% 93%);
  --violet-200: hsl(252 100% 83%);
  --violet-300: hsl(252 100% 73%);
  --violet-400: hsl(252 100% 63%);
  --violet-500: hsl(252 100% 53%);
  --violet-600: hsl(252 89% 43%);
  --violet-700: hsl(252 79% 33%);
  --violet-800: hsl(252 69% 23%);
  --violet-900: hsl(252 59% 13%);
  --neutral-100: hsl(252, 51%, 99%);
  --neutral-200: hsl(252, 41%, 97%);
  --neutral-300: hsl(252, 31%, 93%);
  --neutral-400: hsl(252, 21%, 83%);
  --neutral-500: hsl(252, 11%, 73%);
  --neutral-600: hsl(252, 1%, 63%);
  --neutral-700: hsl(252, 1%, 53%);
  --neutral-800: hsl(252, 1%, 43%);
}

/* general cleaning */

body {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(-45deg, var(--violet-100) 0%, var(--neutral-200) 67%), var(--violet-100) 100%;
}

/* clock */
.clock {
  position: relative;
  border-radius: 50%;
  border: 20px solid transparent;
  background: linear-gradient(var(--violet-200), var(--violet-100)) padding-box,
      linear-gradient(120deg, var(--violet-100) 13%, var(--neutral-500) 84%) border-box;
  box-shadow: rgba(0, 0, 0, 0.25) 40px 74px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 30rem;
  height: 30rem;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  /* transform: translateY(-3px); */
}

.hand {
  width: 50%;
  height: 4px;
  background: var(--violet-900);
  position: absolute;
  top: 50%;

}